<p id="notice"><%= notice %></p>

<%= link_to 'Back', category_path(@question.category) %>

<h2><%= @question.title %></h2>

<p>
  Published in <strong><%= @question.category.name %></strong>

  <% if @question.user == current_user %>
    <span class="small ml-1">
    <%= link_to 'Edit question', edit_question_path(@question) %> |
    <%= link_to 'Delete question', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  <% end %>
</p>

<% if @question.body.present? %>
  <p>
    <strong>Body:</strong>
    <%= @question.body %>
  </p>
<% end %>


<h3>Submit a new answer:</h3>
<%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>

<br>

<% if @question.answers.any? %>
  <h2>Answers</h2>
  <% @question.answers.each do |answer| %>
    <div class="answer border rounded">
      <p class="answer-body"><%= answer.body %></p>
      <span class="small">User <%= answer.user.id %> - <%= "#{time_ago_in_words(answer.created_at.localtime)} ago" %></span>
      <% if current_user == answer.user %>
        <span class="small ml-1"><%= link_to 'Edit', edit_answer_path(answer) %> | <%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </div>
    <br>
  <% end %>
<% end  %>
