<%= form_with(model: category, local: true) do |form| %>
  <%= error_messages_for category %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :category_name %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
