<p id="notice"><%= notice %></p>

<%= link_to 'Back', categories_path %>

<div class="row">
  <div class="col-8">
    <p style="margin-bottom: 0">questions about</p>
    <h2><%= @category.name %></h2>
  </div>
  <div class="col-4">
    <%= link_to "Ask a new question", new_question_path(category_id: @category.id), class: "btn btn-primary float-right" %>
  </div>
</div>

<% if @questions.any? %>
  <% @questions.each do |question| %>
    <%= link_to question_path(question.id), class: "question-list__question rounded border" do %>
      <p class="question-list__question__date"><%= question.created_at %></p>
      <h5><%= question.title %></h5>
    <% end %>
  <% end %>
<% else %>
  <p>Sadly, no questions found about <%= @category.name %> :(</p>
  <%= link_to "Why don't you ask a new question?", new_question_path(category_id: @category.id), class: "btn btn-primary" %>
<% end %>
